body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #ec64b8, #fc25b4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fd61c9;
}

.container {
    background: #fff;
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(230, 74, 159, 0.2);
    text-align: center;
    width: 350px;
}

h1 {
    color: #f376bf;
    margin-bottom: 10px;
}

p {
    color: #ff76c1;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="number"], select {
    width: 100%;
    padding: 12px 15px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background: #f0188f;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ce3a7f;
}

.selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.arrow {
    font-size: 24px;
    font-weight: bold;
    color: #f333b3;
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    background: #f589cc;
    color: #e40c8a;
    transition: 0.3s;
}